.Shrotcuts p
{
    color: rgba(0, 0, 0, 0.58);
}
.Shortcuts-Site:hover
{
    border: 1px rgba(0, 0, 0, 0.25) dashed;
    border-radius: 12px;
    cursor: pointer;
}
input::input-placeholder {
    opacity: 0.5;
}
.Shortcuts-Site-Box
{
    background-color: rgba(161, 161, 161, 0.85);
    transition: .3s;
}
.Shortcuts-Site:hover .Shortcuts-Site-Box
{
    padding: 5px;
    max-height: 20px;
    opacity: 1;
    transition-delay:.3s;
}
.Shortcuts-Site .Shortcuts-Site-Box:hover
{
    background-color: #95deac;
    transition: 300ms;
}
