.HadithContentText p
{
    flex: auto;
    /*text-align: justify;*/
    margin-right: 10px;
    font-size: 1.2vw;
}
.HadithContentText::scrollbar {
    width:5px;
}
.HadithContentText::scrollbar-track {
    box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
    border-radius:5px;
}
.HadithContentText::-webkit-scrollbar-thumb {
    border-radius:5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}