.CurrentTime-holder
{
    display: flex;
    height: calc(100% - 2px * 2);
    flex-direction: row;
    font-size: clamp(5px, 2.45vh,18px);
    align-items: flex-end;
    padding: 2px;
}

.CurrentTime-holder ul li
{
    padding: .30vh 0;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    line-height: 3vh;
    height: 3vh;
}
.CurrentTime-holder
{
    min-width: 13vh;
}
.CurrentTime-holder ul li
{
    padding-left: 2.7vh;
    height: 3vh;
}
.CurrentTime-holder ul li:before
{
    content: "";
    width: 2vh;
    height: 1.2vh;
    line-height: 3vh;


}

.CurrentTime-holder ul .active-time:before
{
    content: "";
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
    background-color: #FF003D;
    border-radius: 0 1vh 1vh 0;
    left:-2px;
}
