.CurrentTime-holder ul .active-time:before
{
    content: "";
    position: absolute;
    top: 52.5%;
    transform: translateY(-50%);
    background-color: #FF003D;
    border-radius: 0 1vh 1vh 0;
    left:-2px;
}
