.QuizHeader
{
    width:calc(100% - 8*2) ;
    border:  none 2px #1c1c1c;
    padding: 10px 8px;
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: calc(60px - 10px*2);
}

.skip-btn
{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 0;
    width: fit-content;
    border-radius: 6px 20px 20px 6px ;
    box-shadow: none;
    background: #ba8c57;
    border: none;
    padding: 6px 14px;
    flex: auto;
    margin: 4px;
    font-size: 20px;
    color: #fff;
}

.quiz-bar
{
    position: absolute;
    bottom:-10px;
    left:2px;
    width: calc(100% - 2px *2);
    height: 5px;
    background-color: #0000001c;
    border-radius: 4px;
}

@keyframes time-out {
    from {
        width: 1%;
        background-color: #17A963;
    }
    to {
        width: 100%;
        background-color: #a91751;
    }
}

.quiz-bar_progress
{
    position: absolute;
    bottom:0;
    left:0;
    height: 5px;
    border-radius: 4px;
}

