.progress {
    stroke-dasharray: 10000;
    stroke-dashoffset: -231;
    opacity: 0;
    animation: example cubic-bezier(0.64, -0.02, 0, 0.99) 2s;
}
.min_anm, .hour_anm {
    animation: minAnm cubic-bezier(0.64, -0.02, 0, 0.99) 2s;
}
.min_anm {
    animation: minAnm cubic-bezier(0.64, -0.02, 0, 0.99) 2s;
}

.hour_anm {
    animation: hurAnm cubic-bezier(0.64, -0.02, 0, 0.99) 2s;
}
@keyframes minAnm {
    from {
        transform: rotate(0turn);
        opacity: 1;

    }
    to {
        transform: rotate(6turn);
        opacity: 0;

    }
}

@keyframes hurAnm {
    from {
        transform: rotate(0turn);
        opacity: 1;
    }
    to {
        transform: rotate(1turn);
        opacity: 0;
    }
}


@keyframes example {
    0% {
        stroke-dashoffset: -10000;
        opacity: 1;
    }
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: -231;
    }
}
@-webkit-keyframes rotation {
    from {

        -webkit-transform: rotate(0deg);
    }
    to {

        -webkit-transform: rotate(359deg);
    }
}

