
@keyframes fade_in {
    0%{

        opacity: 0;

    }
    50%{

        opacity: 0;

    }
    100% {

        opacity: 1;

    }
}
.ll-clock-holder ul li:after
{
    content: "-";
    color: rgba(0, 0, 0, 0.30);
}