.Quiz {
    margin-left: 3vw;
    /* background-color: rgba(160, 130, 95, 0.14); */
    flex: 25;
    max-width: 450px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QuizContent
{
    border: 1px solid #41B6BD;
    border-radius: 12px;
    width: calc(100% - 20px * 2);
    height: calc(100% - 20px * 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    min-width: 180px;
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    background-color: rgba(134, 208, 173, 0.13);
}

.QuizBody
{
    width:calc(100% - 8*2) ;
    padding: 15px 8px;
    position:absolute;
    top: 85px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.QuizBody::scrollbar {
    width:5px;
}
.QuizBody::scrollbar-track {
    box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
    border-radius:5px;
}
.QuizBody::scrollbar-thumb {
    border-radius:5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}