*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Lato', sans-serif;
}
.main
{
  display: flex;
  flex-flow: row;
  min-height: 100vh;
  justify-content: space-between;
  padding:0 10px;
  max-width: 1920px;
  margin: 0 auto;
}
.left-clock
{
  /*background-color: rgba(95, 158, 160, 0.12);*/
  /*margin:0 20px;*/
  /*flex: auto;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  position: sticky;
  top: 0;
}
.left-clock-holder
{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left-clock-holder ul
{
  list-style: none;
  margin: 2vh 0;
}
.ll-clock-holder, .lr-clock-holder
{
  display: flex;
  height: calc(100% - 2px * 2);
  flex-direction: row;
  font-size: clamp(5px, 2.45vh,18px);
  align-items: flex-end;
  padding: 2px;
}
.ll-clock-holder ul li,
.lr-clock-holder ul li
{
  padding: .30vh 0;
  font-family: 'Public Sans', sans-serif;
  position: relative;
  line-height: 3vh;
  height: 3vh;
}
.ll-clock-holder ul li:after
{
  content: "-";
  color: rgba(0, 0, 0, 0.30);
}

.ll-clock-holder b
{
  color:#FF5F85;
}
apm
{
  color: rgba(0, 0, 0, 0.8);
  font-size:clamp(8px, 1.8vh, 14px) ;
  margin: 0 2px;
}

.ll-clock-holder
{
  border-right: 1px solid black;
  text-align: right;
  min-width: 22vh;
  justify-content: flex-end;
  position: relative;
}
.ll-clock-holder h4
{
  position: absolute;
  top: 5vh;
  left: calc(50% - (10px - 1px - 2px)) ;
  text-align: center;
  max-width: calc(100% - 10px);
  transform: translateX(-50%);
  font-size: clamp(12px, 3.5vh, 18px) ;
  color: rgba(0, 0, 0, 0.31);
}

.lr-clock-holder
{
  min-width: 13vh;
}
.lr-clock-holder ul li
{
  padding-left: 2.7vh;
  height: 3vh;
}
.lr-clock-holder ul li:before
{
  content: "";
  width: 2vh;
  height: 1.2vh;
  line-height: 3vh;


}

.lr-clock-holder ul .active-time:before
{
  content: "";
  position: absolute;
  top: 52.5%;
  transform: translateY(-50%);
  background-color: #FF003D;
  border-radius: 0 1vh 1vh 0;
  left:-2px;
}


/*.ll-clock-holder h6*/
/*{*/
/*    position: absolute;*/
/*    bottom: 5vh;*/
/*    left: calc(50% - (10px - 1px - 2px)) ;*/
/*    text-align: center;*/
/*    max-width: calc(100% - 10px );*/
/*    transform: translateX(-50%);*/
/*    padding: 2px 4px;*/
/*    border: dashed 1px rgba(0, 0, 0, 0.21);*/
/*    border-radius: 5px;*/
/*    background-color: rgba(255, 0, 0, 0.08);*/
/*    cursor: pointer;*/
/*}*/

.mid-search
{
  /*background-color: rgba(119, 95, 160, 0.12);*/
  margin:0 20px;
  flex: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 450px;
}
.mid-search h4, .mid-search h1,
.mid-search h2, .mid-search p, .mid-search h6 {
  font-family: 'Noto Sans Bengali', sans-serif;
}
.mt-content
{
  min-height: 22vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.mid-search input
{
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.58);
  padding: 10px 15px 8px 50px;
  border-radius: 25px;
  min-width: 300px;
  margin: 20px 10px 10px 10px;
  position: relative;
  background-color: #0066ff0d;
  overflow: hidden;
  backdrop-filter: blur(4px);
  font-size: large;
}
.mid-search input::-webkit-input-placeholder
{
  font-weight: 150;
  color: rgba(0, 0, 0, 0.75);
}
.search-ic
{
  position: relative;
  width: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 28 28' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") left / contain no-repeat;
}
/*.search-ic::after*/
/*{*/
/*    content: "";*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background: #1A2699;*/
/*    position: absolute;*/
/*    right: 16px;*/
/*    top: 57.2%;*/
/*    transform: translateY(-50%);*/
/*}*/

.mid-search h4, .mid-search h1,
.mid-search h2, .mid-search p, .mid-search h6
{
  width: 100%;
  text-align: center;
}
.mid-search h4
{
  margin-top: 30px;
  font-family: 'Noto Naskh Arabic', serif;
  font-weight: 600;
  font-size:clamp(28px, 5.5vh, 50px);
  color: #17A963;

}
.mid-search h1,
.mid-search h2
{
  font-size: clamp(28px, 7.5vh, 50px);
  font-weight: 400;
}


.mid-search h1:before, .mid-search h1:after
{
  content: "'";
  color:  #ff00003d;
}

.mid-search h1:after
{
  margin-right: -2.6vh;
}
.mid-search h1:before
{
  margin-left: -2.6vh;
}
.mid-search h6
{
  font-size: clamp(8px, 2vh, 12px);
  font-weight: 700;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.43);
  padding:3px 6px 2px 6px;
  cursor: pointer;
  border-radius: 8px;
}
.mid-search h6:hover
{
  background-color: rgba(95, 158, 160, 0.10);
  color: rgba(0, 0, 0, 0.50);

}
.mid-search p
{
  font-size: clamp(14px, 3vh, 18px);
  font-weight: 400;
  color: #1A2699;
  margin-top: 5px;
}

.mid-quick-tab
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.mid-quick-tab p
{
  color: rgba(0, 0, 0, 0.58);
}
.tab-holder
{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 0 ;
  margin: 4px;
  border: 1px rgba(0, 0, 0, 0) dashed;
  position: relative;
}
.tab-content
{
  width: 6vw;
  height: 6vw;
  max-width: 60px;
  max-height: 60px;
  background-color: rgba(23, 169, 99, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.20);
  font-size: 30px;
  font-weight: 900;
  backdrop-filter: blur(2px);
}
.tab-holder p
{
  font-size: 10px;
  max-height: 11px;
  max-width: 90%;
  text-align: center;
  overflow: hidden;
  margin-top: .3vw;
}
.tab-holder:hover
{
  border: 1px rgba(0, 0, 0, 0.25) dashed;
  border-radius: 12px;
  cursor: pointer;
}

.tab-edit-ic
{
  background-color: rgba(161, 161, 161, 0.85);
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: -8px;
  overflow-y: hidden;
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: .3s;
  z-index: 99;
}
.tab-holder:hover   .tab-edit-ic
{
  padding: 5px;
  max-height: 20px;
  opacity: 1;
  transition-delay:.3s;
}
.tab-holder .tab-edit-ic:hover
{
  background-color: #95deac;
  transition: 300ms;
}

.mid-background
{
  position: absolute;
  height: 60vw;
  width: 60vw;
  top: 10px;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  max-height: 80vh;
  max-width: 80vh;
  z-index: -1;
  -webkit-animation: rotation 60s infinite linear;
}

@-webkit-keyframes rotation {
  from {

    -webkit-transform: rotate(0deg);
  }
  to {

    -webkit-transform: rotate(359deg);
  }
}

.right-quiz
{
  /*background-color: rgba(160, 130, 95, 0.14);*/
  flex: auto;
  max-width: 450px;
  height: 100vh;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.rq-content
{
  border: 1px solid #41B6BD;
  border-radius: 12px;
  width: calc(100% - 20px * 2);
  height: calc(100% - 20px * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  min-width: 250px;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  background-color: rgba(134, 208, 173, 0.13);
}
.rq-content-text
{
  flex: auto;
  margin: 10px 0 5px 10px;
  overflow-y: auto;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.rq-content-text p
{
  flex: auto;
  /*text-align: justify;*/
  margin-right: 10px;
}
.rq-content-text::-webkit-scrollbar {
  width:5px;
}
.rq-content-text::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
  border-radius:5px;
}
.rq-content-text::-webkit-scrollbar-thumb {
  border-radius:5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.rq-content h6
{
  /*position: absolute;*/
  /*bottom: 5%;*/
  /*left: calc(50%) ;*/
  text-align: center;
  font-size: 16px;
  max-width: calc(100% - 10px );
  /*transform: translateX(-50%);*/
  padding: 2px 10px;
  border: dashed 1px rgba(58, 70, 198, 0.24);
  border-radius: 8px;
  background-color: rgba(0, 255, 21, 0.08);
  cursor: pointer;
  margin: 10px 0;
}