.quiz-options
{
    border:  none 2px #1c1c1c;
    padding: 4px 8px;
    /*flex: auto;*/
    width: 100%;
    min-height: 100px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}
.quiz-options button
{
    border-radius: 6px;
    box-shadow: none;
    background: #ffd42a47;
    border: none;
    padding: 10px 50px;
    flex: auto;
    margin: 4px;
    /*max-width: 150px;*/
}
.quiz-options button:hover
{
    box-shadow: #72675f 0 0 4px;
}
