.SearchPanel h4, .SearchPanel h1,
.SearchPanel h2, .SearchPanel p, .SearchPanel h6 {
    font-family: 'Noto Sans Bengali', sans-serif;
}

.SearchPanel input
{
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.58);
    padding: 10px 15px 8px 50px;
    border-radius: 25px;
    min-width: 300px;
    margin: 20px 10px 10px 10px;
    position: relative;
    background-color: #0066ff0d;
    overflow: hidden;
    backdrop-filter: blur(4px);
    font-size: large;
}
.SearchPanel input::-webkit-input-placeholder
{
    font-weight: 150;
    color: rgba(0, 0, 0, 0.75);
}
.SearchPanel h4, .SearchPanel h1,
.SearchPanel h2, .SearchPanel p, .SearchPanel h6
{
    width: 100%;
    text-align: center;
}
.SearchPanel h4
{
    margin-top: 30px;
    font-family: 'Noto Naskh Arabic', serif;
    font-weight: 600;
    font-size:clamp(28px, 5.5vh, 50px);
    color: #17A963;

}
.SearchPanel h1,
.SearchPanel h2
{
    font-size: clamp(28px, 7.5vh, 50px);
    font-weight: 400;
}


/*.SearchPanel h1:before, .SearchPanel h1:after
{
    content: "'";
    color:  #ff00003d;
}*/

.SearchPanel h1:after
{
    margin-right: -2.6vh;
}
.SearchPanel h1:before
{
    margin-left: -2.6vh;
}
.SearchPanel h6
{
    font-size: clamp(8px, 2vh, 12px);
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.43);
    padding:3px 6px 2px 6px;
    cursor: pointer;
    border-radius: 8px;
}
.SearchPanel h6:hover
{
    background-color: rgba(95, 158, 160, 0.10);
    color: rgba(0, 0, 0, 0.50);

}
.SearchPanel p
{
    font-size: clamp(14px, 3vh, 18px);
    font-weight: 400;
    color: #1A2699;
    margin-top: 5px;
}
